/* Estilo para las páginas de tipo Page */
div.gradient-box {
  padding-top: 0px;
  padding-top: 21px;
}

div.document_share {
  height: 100%;
}

span.h1categories, span.h1site, span.h1pages {
  display: none;
}

div.video {
  margin-right: 21px;
}

div.date_and_location img {
  float: left;
  margin-right: 8px;
}

div.date_and_location b {
  color: #666666;
  font-weight: normal;
}
  