@import "helpers";
/* Space out pagination from surrounding content*/
.pagination {
	float: left;
	text-align: center;
	width: 100%;
	margin:10px 0;
	border-top: 1px solid $colorLines;
	border-bottom: 1px solid $colorLines;
	padding: 15px 0 10px 0;

}
.pagination ul {
	// Allow for text-based alignment
	display: inline-block;
	// Reset default ul styles
	margin-left: 0;
	margin-bottom: 0;
	// Visuals
	border-radius: 0;
	box-shadow: none;
	@include arial(16px,normal);
}
.pagination ul > li {
	display: inline-block; // Remove list-style and block-level

	&.prev_page, &.next_page{
		a, span{
			color:white;
			background-color: $colorIrekia;
			border-radius: 0;
		}
	}
	&.page_numbers{
		span.current{
			background-color: $greyMainHome;
		}
		a:hover{
			color:white;
			background-color: $blueLinksHover;
		}
	}	
}
.pagination ul > li > a,
.pagination ul > li > span {
	float: left; // Collapse white-space
	padding: 3px 7px;
	line-height: 20px;
	text-decoration: none;
	background-color: transparent;
	border: none;
	border-left-width: 0;
	margin-right: 2px;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
	background-color: $blueLinksHover;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
	color: $textColor;
	cursor: default;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
	color: $textColor;
	background-color: transparent;
	cursor: default;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
	border-left-width: 0;
	border-left-radius: 0;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
	border-right-radius: 0;
}


// Alignment
// --------------------------------------------------

.pagination-centered {
	text-align: center;
}
.pagination-right {
	text-align: right;
}


// Sizing
// --------------------------------------------------

// Large
.pagination-large {
	ul > li > a,
	ul > li > span {
		padding: 5px;
		font-size: 16px;
	}
	ul > li:first-child > a,
	ul > li:first-child > span {
		border-left-radius:0;
	}
	ul > li:last-child > a,
	ul > li:last-child > span {
		border-right-radius: 0;
	}
}

// Small and mini
.pagination-mini,
.pagination-small {
	ul > li:first-child > a,
	ul > li:first-child > span {
		border-left-radius: 0;
	}
	ul > li:last-child > a,
	ul > li:last-child > span {
		border-right-radius: 0;
	}
}

// Small
.pagination-small {
	ul > li > a,
	ul > li > span {
		padding: 5px;
		font-size: 16px;
	}
}
// Mini
.pagination-mini {
	ul > li > a,
	ul > li > span {
		padding: 5px;
		font-size: 16px;
	}
}

/*New pagination*/

.pagination {
    border-bottom: 1px solid #DDE4EC;
    border-top: 1px solid #DDE4EC;
    float: left;
    margin: 10px 0;
    padding: 15px 0 10px;
    text-align: center;
    width: 100%;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: normal;
}
.pagination a{
	color: #005B8C;
    transition: color 0.1s ease-out 0s, background 0.2s ease-in 0s;
}

.pagination a.previous_page, .pagination span.previous_page, .pagination a.next_page, .pagination span.next_page {
    background-color: #005B8C;
    border-radius: 0;
    color: #FFFFFF;
}

.pagination span.previus_page {
    border-left-width: 0;
}

.pagination span.current, .pagination em.current {
    background-color: #DDE4EC;
}
.pagination > a, .pagination > span ,.pagination > em {

    background-color: rgba(0, 0, 0, 0);
    border-image: none;
    border-style: none;
    border-width: medium medium medium 0;
    float: none;
    line-height: 20px;
    margin-right: 2px;
    padding: 3px 7px;
    text-decoration: none;
    display: inline-block;
}
.pagination  > a:hover, .pagination  > a:focus, .pagination > a.active, .pagination > span.active {
    background-color: #0098EA;
    color: #fff;
}
