<div class='section container'>
  <div class='section_main row-fluid'>
    <div class='section_content container'>
      <h1><%= t('users.Gracias_por_alta') %></h1>

      <p><%=raw t('users.Activaremos_cuenta') %></p>
      <p><%=raw t('users.accederas_a_tu_info', :url => link_to(t('users.tras_loggearte'), new_session_path)) %></p>
      <p><%=raw t('users.Mientras', :url => link_to(Settings.site_name, root_path)) %></p>
    </div>
  </div>
</div>


<div class="article settings with_form with_footer">
  
  
</div>
