<div id='header_logos' class="container">
  <div class='row-fluid'>
    <%= link_to image_tag(asset_path('logo-header.png'), :alt => "#{Settings.site_name} logo", :style=>"width:200px;"), root_path, :class => "logo pull-left" %>
  </div>
</div>
