<% target ||= '' %>

<li class='item debate'>
  <div class='item_thumbnail'>
    <%= link_to image_tag(debate.cover_image.thumb_70.url), debate if debate.cover_image.present? %>
  </div>  
  <div class='item_content'>
    <div class='title'><%= link_to debate.title, debate_path(debate) %></div>
    <%= render_participation_result_percentage(debate) %>    
    <%= link_to_item_comments(debate.comments.count, debate) unless target.eql?(:nav) %>
  </div>
</li>
