# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

default: &default
  elasticsearch:
    # URL del índice Elasticsearch para la búsqueda en todos los contenidos de la web
    uri: "http://localhost:9200/openirekia"
    # URL del índice Elasticsearch para la recomendación de noticias relacionadas
    related_uri: "http://localhost:9200/openirekia_news"
    # URL del índice Elasticsearch para la recomendación de órdenes del Boletín Oficial relacionadas (opcional)
    # bopv_uri: "http://localhost:9200/bopv"
    # URL del índice Elasticsearch de la escucha activa (opcional).
    # Requiere también activar el módulo de headlines en config/settings.yml y configurar external_urls.albiste_uri en config/irekia.yml
    # albiste_uri: "http://localhost:9200/albiste"

  # Servidor CouchDB para las estadísticas de visionado de contenidos
  couchdb: &default_couchdb
    drb: "http://localhost:5984/ilog5"
    drb_wowza: "http://localhost:5984/wlog5"
    watchers_server: "192.168.146.78"

  # Log in with Twitter
  # Crear aplicación en https://dev.twitter.com/ y usar aquí los parámetros correspondientes
  # twitter: &twitter_default
  #   token: 'request token'
  #   secret: 'request secret'
  #   atoken: 'access token'
  #   asecret: 'access secret'

  # Log in with Facebook
  # Crear una aplicación en https://developers.facebook.com/apps y usar aquí los parámetros correspondientes
  #facebook:
  #  application_id: ''
  #  api_key: ''
  #  secret_key: ''

  # Log in with GooglePlus
  # Crear una aplicación en https://developers.google.com/+/ y usar aquí los parámetros correspondientes
  # googleplus: &googleplus_default
  #   client_id: ''
  #   client_secret: ''
  #   email_address: ''
  #   redirect_uris: 'http://localhost:3000/es/googleplus_session/finalize'


  # Reproductor de FLV https://flowplayer.org/
  # flowplayer_key: ""
  # Filtro antispam: http://www.akismet.com
  # akismet_key: ""
  # Google analytics key: http://www.google.com/analytics/
  # google_analytics_key: ""

  # Sitewide http authentication
  # http_auth:
  #  user_name: user
  #  password: secret

  # HT
  # # Twitter @irekia_news
  # twitter_news:
  #   <<: *twitter_default
  #
  # # Twitter @irekia_agenda
  # twitter_agenda:
  #   <<: *twitter_default

development:
  <<: *default
  # Generate a new one with "rake secret" and replace this one
  secret_key_base: 95fa528b737907a5160813124e19578f75accd44b1bc07aa4e1400c4dcd3960f3eefc7d5a9c82337e768b0da0cebb06019859c32d02ca8931d40cd7763cf10a6

test:
  <<: *default
  # Generate a new one with "rake secret" and replace this one
  secret_key_base: 8bedd0c557eec7f9e0d2e62a17bd4bd5db03be6355a2a146ec49feda68a72bcfcf6c1f36d00191b268e038c9c897587728319767e73b02ec7c12eefec4b09dd9

  # Elasticsearch servers
  elasticsearch:
    uri: "http://localhost:9200/openirekia_test"
    related_uri: "http://localhost:9200/openirekia_news_test"
    # bopv_uri: "http://localhost:9200/bopv_test"
    # albiste_uri: "http://localhost:9200/albiste_test"

  couchdb:
    <<: *default_couchdb
    drb: "http://localhost:4000/ilog4"

  akismet_key: "myakismetkey"

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  <<: *default
  # Generate a new one with "rake secret" and set it in an environment variable named SECRET_KEY_BASE
  secret_key_base: dc3ebfd31abc0b77a599ba790ee340f613c10db35726f6c465262fc9d72f34e93a79a18c0d0aa5c1a0023b63fe62db2794196c945802de4d984ddd9701a23ab7
  #
  # Elasticsearch servers
  elasticsearch:
    uri: "http://localhost:9200/openirekia_production"
    related_uri: "http://localhost:9200/openirekia_news_production"
    # bopv_uri: <%= ENV["ELASTICSEARCH_BOPV_URI"] %>
    # albiste_uri: <%= ENV["ELASTICSEARCH_ALBISTE_URI"] %>

  # CouchDB
  #couchdb:
  #  drb: <%= ENV["COUCHDB_DRB"] %>
  #  drb_wowza: <%= ENV["COUCHDB_DRB_WOWZA"] %>
  #  watchers_server: <%= ENV["COUCHDB_WATCHERS_SERVER"] %>

  couchdb:
    <<: *default_couchdb
    drb: "http://localhost:4000/ilog4"

  # Log in with Twitter
  # twitter:
  #   token: <%= ENV["TWITTER_TOKEN"] %>
  #   secret: <%= ENV["TWITTER_SECRET"] %>
  #   atoken: <%= ENV["TWITTER_ATOKEN"] %>
  #   asecret: <%= ENV["TWITTER_ASECRET"] %>

  # facebook:
  #   application_id: <%= ENV["FACEBOOK_APPLICATION_ID"] %>
  #   api_key: <%= ENV["FACEBOOK_API_KEY"] %> 
  #   secret_key: <%= ENV["FACEBOOK_SECRET_KEY"] %> 

  # googleplus:
  #   client_id: <%= ENV["GOOGLEPLUS_CLIENT_ID"] %>
  #   client_secret: <%= ENV["GOOGLEPLUS_CLIENT_SECRET"] %>
  #   email_address: <%= ENV["GOOGLEPLUS_EMAIL_ADDRESS"] %>
  #   redirect_uris: 'http://localhost:3000/es/googleplus_session/finalize'

  # HT
  # twitter_news:
  #   token: <%= ENV["TWITTER_NEWS_TOKEN"] %>
  #   secret: <%= ENV["TWITTER_NEWS_SECRET"] %>
  #   atoken: <%= ENV["TWITTER_NEWS_ATOKEN"] %>
  #   asecret: <%= ENV["TWITTER_NEWS_ASECRET"] %>
  #
  # twitter_agenda:
  #   token: <%= ENV["TWITTER_AGENDA_TOKEN"] %>
  #   secret: <%= ENV["TWITTER_AGENDA_SECRET"] %>
  #   atoken: <%= ENV["TWITTER_AGENDA_ATOKEN"] %>
  #   asecret: <%= ENV["TWITTER_AGENDA_ASECRET"] %>

  # flowplayer_key: '<%= ENV["FLOWPLAYER_KEY"] %>'
  # akismet_key: <%= ENV["AKISMET_KEY"] %>
  # google_analytics_key: <%= ENV["GOOGLE_ANALYTICS_KEY"] %>

staging:
  <<: *default
  # Generate a new one with "rake secret" and replace this one
  secret_key_base: 7319eb3308baa596b28abaff7990e72b8417aa57ad50c8282859a682cbc2d79f70a93087cc30b4ab330231b8ebb86c3e601d0875bcf9623c351c3865a1e18261

  # HTTP authentication for only authorized people to see the website
  http_auth:
    user_name: <%= ENV["HTTPAUTH_USER_NAME"] %>
    password: <%= ENV["HTTPAUTH_PASSWORD"] %>
