<tr>
  <td>Nombre:</td>
  <td><%= f.text_field :name_es, :id => "name_es" %></td>
</tr>
<tr>
  <td>Izena:</td>
  <td><%= f.text_field :name_eu, :id => "name_eu" %></td>
</tr>
<tr>
  <td>Name:</td>
  <td><%= f.text_field :name_en, :id => "name_en" %></td>
</tr>

