<div class='section container'>
  <div class='section_main row-fluid'>
    <div class='section_content span12'>
      <h1 class='title'><%= @title %></h1>
      <div class='well'>
        <%= @message %>    
      </div>
    </div>
  </div>
</div>
