<% additional_class ||= '' %>
<li class='item organization <%= additional_class %>'>
  <div class='item_content fullwidth'>    
    <span class="organization_name"><%= organization.name %></span>
  </div>
</li>
