<div class="create_update_info">
  <% unless item.creator.nil? %>
    <span class='title'><%= t('sadmin.news.creada') %>:</span>
    <span class="date_and_user"><%= t('sadmin.events.el_dia_por_user', :dia => I18n.localize(item.created_at, :format => :short), :user => item.creator.internal_name) %></span><br/>
  <% end %>
  <% unless item.last_editor.nil? %>
    <span class='title'><%= t('sadmin.news.ultima_actualizacion') %>:</span>
    <span class="date_and_user"><%= t('sadmin.events.el_dia_por_user', :dia => I18n.localize(item.updated_at, :format => :short), :user => item.last_editor.internal_name) unless item.last_editor.nil? %></span>
  <% end %>
</div>